* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.plaite {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(233, 189, 169, 0.3); }

.closet {
  cursor: pointer;
  position: absolute;
  width: 1em;
  height: 1em;
  border: 1px solid black;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 2%;
  top: 3%; }

.plait_of_choice {
  width: 60%;
  height: 50%;
  position: absolute;
  left: 18%;
  top: 20%;
  z-index: 1;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.ask {
  text-align: center;
  text-transform: uppercase; }

.ask_button {
  width: 20%;
  cursor: pointer; }

.holderOF {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(221, 255, 255, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.red {
  color: red; }

.blue {
  background-color: lightgreen; }

.tabHead {
  padding: 0;
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.4); }

th, td {
  border: 1px solid black; }

td {
  text-align: center;
  font-size: 1em; }

th:first-child {
  text-transform: uppercase; }

th:first-child,
td:first-child {
  width: 8%; }

.beginer {
  margin-left: 5%;
  text-transform: uppercase;
  color: #112a5f; }

.header_nav {
  width: 40%;
  margin-left: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav_item {
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(206, 89, 55, 0.6);
  color: gold;
  width: 23%;
  padding: 1%;
  text-align: center;
  border: 1px solid gold;
  background: rgba(120, 255, 255, 0.4);
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0); }

.nav_item:hover {
  position: relative;
  width: 30%;
  top: -8px;
  left: 15px; }

.nav_item:nth-child(4):hover {
  left: -15px; }

.head_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

[name=chuser] {
  width: 15%;
  font-size: 1.2em;
  margin-right: 5%; }

.searcheer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.searching {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 0 5%;
  margin-top: 2%;
  margin-bottom: 5%; }

.sorting {
  margin-left: 0.5%;
  margin-right: 1%; }

.mar {
  margin-left: auto; }

body {
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/reading-3.svg); }

#Capa_4:hover {
  fill: red; }

#Capa_3:hover {
  fill: green; }

.forms {
  width: 50%;
  margin: auto;
  position: relative;
  bottom: 15%;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/reading-3.svg); }

.create {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5%; }
  .create .column {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .create .column .create_item {
      display: block;
      margin-bottom: 10%;
      width: 60%; }
    .create .column label {
      margin-right: auto;
      padding-left: 20%; }

#age {
  margin-bottom: 13%; }

th:nth-child(2) {
  width: 45%; }

th:nth-child(4),
th:nth-child(5),
th:nth-child(6),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6) {
  width: 7%; }

.plait_of_choice {
  background-image: url(../images/reading-3.svg); }

/*# sourceMappingURL=styleVisitors.css.map */