.wrapper_logo_header {
  width: 25%;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* padding: 1% 0; */
  align-items: center;
  justify-content: center;
}
.header_imagen {
  order: 1;
  width: 35%;
  height: auto;
  flex-grow: 1;
}
.logo_baner {
  order: 2;
  margin: 0;
}
.logo_text {
  order: 3;
  font-size: 0.8rem;
}
