.root_default {
  width: 20%;
}

.text_default {
  width: 100%;
  display: block;
  text-align: center;
}

.baner_default {
  margin: 0;
  text-align: center;
}

.img_default {
  width: 100%;
  height: auto;
}
